body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    background-color:cadetblue
}

.nav {
    background-color: ;
    color:blue;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25ps;
    font-size: 12px;
    color: aliceblue;
    
}

.nav > li > a {
    text-decoration: none;
    color:aliceblue;
}

.nav > li > a:hover {
    color: #C1C1C1;
}

.logo{
    color:aliceblue;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.logo > a {
    text-decoration: none;
    color:aliceblue;
    

}

.banner {
    width: 100%;
    display:block;
    
}

.banner > .banner-image {
        width: 100%;
        display:block;
}